# README
# You can just copy this file to api_keys.properties if you want.
# The Giphy and article keys are both public and rate limited at a global level, so if you are planning on using a self-build version of Pulse, you should get your own.
# The YouTube key is used to preview Google Maps and YouTube links. You could leave it blank if you don't care about that.



# The public beta Giphy API key.
# Get your own https://developers.giphy.com/
GIPHY=dc6zaTOxFJmzC

# This is the public article API key.
# Get your own https://github.com/klinker41/article-android
ARTICLE=73621d28e6f1eec5b8de2aee774cbdb0

# The same key is used for Maps and Youtube, as long as you give the correct access in the console.
# Get your own https://developers.google.com/youtube/v3/getting-started
YOUTUBE=<insert-your-key>