<!--
  ~ Copyright (C) 2017 Luke Klinker
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.klinker.messenger.shared"
    tools:ignore="MissingLeanbackLauncher">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widget"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application android:appCategory="social">

        <activity android:name=".activity.RateItDialog"
            android:theme="@style/tutorial_FloatingTutorialTheme"
            android:launchMode="singleInstance" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBg-de2pZC1JTdIEidArhOpSRs_AmxNomY" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />

        <service android:name="com.android.mms.transaction.TransactionService" />

        <service
            android:name=".service.MessengerChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.SmsReceivedReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.SmsReceivedNonDefaultReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">

            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".receiver.SmsSentReceiver"
            android:exported="true"
            android:taskAffinity="${applicationId}.SMS_SENT" />

        <receiver
            android:name=".receiver.SmsSentReceiverNoRetry"
            android:exported="true" />

        <receiver
            android:name=".receiver.SmsDeliveredReceiver"
            android:exported="true"
            android:taskAffinity="${applicationId}.SMS_DELIVERED" />

        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MmsSentReceiver"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_SENT" />

        <receiver
            android:name=".receiver.MmsReceivedReceiver"
            android:exported="true"
            android:taskAffinity="com.klinker.android.messaging.MMS_RECEIVED">

            <!--<intent-filter android:priority="2147483647">-->
                <!--<action android:name="android.provider.Telephony.MMS_DOWNLOADED" />-->
            <!--</intent-filter>-->

        </receiver>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.jobs.ScheduledMessageJob"
            android:exported="false" />

        <receiver
            android:name=".service.jobs.RepeatNotificationJob"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.NotificationDismissedReceiver"
            android:exported="false" />

        <receiver
            android:name=".service.NotificationDismissedReceiver"
            android:exported="false"/>

        <receiver
            android:name=".receiver.notification_action.NotificationMarkReadReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.NotificationCallReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.NotificationCopyOtpReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.NotificationArchiveReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.SendSmartReplyReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.notification_action.NotificationDeleteReceiver"
            android:exported="false" />

        <receiver
            android:name=".receiver.CarReplyReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="xyz.klinker.messenger.CAR_REPLY"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.CarReadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="xyz.klinker.messenger.CAR_READ"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <service
            android:name=".service.DashclockExtension"
            android:icon="@drawable/ic_stat_notify_group"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.CleanupOldMessagesJob">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.FreeTrialNotifierJob">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.ContactSyncJob">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.MarkAsSentJob">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.SyncRetryableRequestsJob">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:exported="false"
            android:name=".service.jobs.RepostQuickComposeNotification">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.jobs.SubscriptionExpirationCheckJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.jobs.SignoutJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".service.FirebaseTokenUpdateCheckService" />
        <service android:name=".service.FirebaseHandlerService" />
        <service android:name=".service.notification.NotificationService" />
        <service android:name=".receiver.notification_action.NotificationMuteReceiver" />
        <service android:name=".service.ReplyService" />
        <service android:name=".service.ApiUploadService" />
        <service android:name=".service.ApiDownloadService" />
        <service android:name=".service.SimpleSubscriptionCheckService" />
        <service android:name=".service.SimpleLifetimeSubscriptionCheckService" />
        <service android:name=".service.message_parser.MediaParserService" />
        <service android:name=".service.message_parser.AutoReplyParserService" />
        <service android:name=".service.message_parser.VcardParserService" />
        <service android:name=".service.NewMessagesCheckService" />
        <service android:name=".service.FirebaseResetService" />
        <service android:name=".service.ResendFailedMessage" />
        <service android:name=".service.CreateNotificationChannelService" />
        <service android:name=".service.ContactResyncService" />
        <service android:name=".service.QuickComposeNotificationService" />
        <service android:name=".service.SmsReceivedService" />

        <service
            android:name=".service.ComposeTileService"
            android:icon="@drawable/ic_stat_notify_group"
            android:label="@string/shortcut_compose_short"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
