<!--
  ~ Copyright (C) 2016 Jacob Klinker
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.klinker.messenger">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.app_widget" android:required="false"/>

    <application
        tools:replace="android:allowBackup"
        android:name=".MessengerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBg-de2pZC1JTdIEidArhOpSRs_AmxNomY"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MessengerActivity"
            android:theme="@style/AppTheme.MessengerActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".activity.MessengerTvActivity"
            android:theme="@style/AppTheme.Leanback">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.ComposeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/vcard" />
                <data android:mimeType="text/x-vcard" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.MessengerChooserTargetService" />
        </activity>

        <activity android:name=".util.RedirectToMyAccount"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.OnboardingActivity"
            android:theme="@style/AppIntro" />
        <activity android:name=".activity.OnBoardingPayActivity"
            android:theme="@style/AppIntro" />
        <activity android:name=".activity.InitialLoadActivity"
            android:configChanges="keyboardHidden|keyboard|screenLayout|orientation|screenSize" />
        <activity
            android:name=".activity.InitialLoadTvActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.MediaGridActivity"
            android:theme="@style/AppTheme.NoColors" />
        <activity
            android:name=".activity.ContactSettingsActivity"
            android:theme="@style/AppTheme.NoColors" />
        <activity
            android:name=".activity.SettingsActivity"
            android:theme="@style/AppTheme.NoColors"
            android:label="@string/menu_settings" />
        <activity
            android:name=".activity.ImageViewerActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="com.afollestad.materialcamera.CaptureActivity2"
            android:theme="@style/MaterialCamera.CaptureActivity" />
        <activity
            android:name="xyz.klinker.giphy.GiphyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:replace="android:theme" />
        <activity android:name=".activity.NotificationReplyActivity"
            android:theme="@style/api_Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"/>

        <service android:name="com.android.mms.transaction.TransactionService" />

        <service
            android:name=".service.MessengerChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.SmsReceivedReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.SmsSentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.SMS_SENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.SmsDeliveredReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.SMS_DELIVERED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MmsSentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.klinker.android.messaging.MMS_SENT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MmsReceivedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.klinker.android.messaging.MMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.NotificationDismissedReceiver"
            android:exported="false" />

        <receiver android:name=".receiver.CarReplyReceiver"
            android:exported="false" />

        <service
            android:name=".service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <service android:name=".service.ForceTokenRefreshService" />
        <service android:name=".service.FirebaseHandlerService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.NotificationDismissedService" />
        <service android:name=".service.NotificationMarkReadService" />
        <service android:name=".service.NotificationCallService" />
        <service android:name=".service.ReplyService" />
        <service android:name=".service.ContentObserverService" />
        <service android:name=".service.ContentObserverRunCheckService" />
        <service android:name=".service.ContactSyncService" />
        <service android:name=".service.ScheduledMessageService" />
        <service android:name=".service.ApiUploadService" />
        <service android:name=".service.ApiDownloadService" />
        <service android:name=".service.SubscriptionExpirationCheckService" />
        <service android:name=".service.SignoutService" />

        <service
            android:name=".service.ComposeTileService"
            android:icon="@drawable/ic_stat_notify_group"
            android:label="@string/shortcut_compose_short"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <!-- Widget -->
        <receiver android:name=".widget.MessengerAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="xyz.klinker.messenger.widget.REFRESH" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service
            android:name=".widget.MessengerWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <!-- Samsung Multi-window Support -->
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/multiwindow_defaultsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/multiwindow_defaultsize_h" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/multiwindow_minimumsize_w" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/multiwindow_minimumsize_h" />



    </application>

</manifest>
