<!--
  ~ Copyright (C) 2017 Luke Klinker
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.klinker.messenger">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.app_widget"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:name=".MessengerApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/PulseTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".activity.MessengerActivity"
            android:configChanges="keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/PulseTheme.MessengerActivity"
            android:resizeableActivity="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MESSAGING" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".activity.MessengerTvActivity"
            android:theme="@style/AppTheme.Leanback"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.compose.ComposeActivity"
            android:exported="true"
            android:theme="@style/PulseTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="text/vcard" />
                <data android:mimeType="text/x-vcard" />
                <data android:mimeType="image/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".shared.service.MessengerChooserTargetService" />

        </activity>

        <activity
            android:name=".activity.share.QuickShareActivity"
            android:label="@string/quick_share"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/tutorial_FloatingTutorialTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" >

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SEND" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data android:mimeType="text/plain" />-->
                <!--<data android:mimeType="text/vcard" />-->
                <!--<data android:mimeType="text/x-vcard" />-->
                <!--<data android:mimeType="image/*" />-->
                <!--<data android:mimeType="audio/*" />-->
                <!--<data android:mimeType="video/*" />-->
            <!--</intent-filter>-->

            <!--<meta-data-->
                <!--android:name="android.service.chooser.chooser_target_service"-->
                <!--android:value=".shared.service.MessengerChooserTargetService" />-->

        </activity>

        <activity
            android:name=".activity.AccountPurchaseActivity"
            android:theme="@style/api_Theme.AppCompat.Translucent"
            android:configChanges="keyboardHidden|keyboard|screenLayout|orientation|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name=".activity.NoLimitMessageListActivity"
            android:theme="@style/PulseTheme.NoActionBar" />
        <activity
            android:name=".shared.util.RedirectToMyAccount"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.OnboardingActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppIntro" />
        <activity
            android:name=".activity.InitialLoadActivity"
            android:configChanges="keyboardHidden|keyboard|screenLayout|orientation|screenSize" />
        <activity
            android:name=".activity.InitialLoadTvActivity"
            android:theme="@style/PulseTheme.NoActionBar" />
        <activity
            android:name=".activity.MediaGridActivity"
            android:theme="@style/PulseTheme.NoColors" />
        <activity
            android:name=".activity.ContactSettingsActivity"
            android:theme="@style/PulseTheme.NoColors" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/menu_settings"
            android:theme="@style/PulseTheme.NoColors" />
        <activity
            android:name=".activity.ImageViewerActivity"
            android:theme="@style/PulseTheme.NoActionBar.Translucent" />
        <activity
            android:name="xyz.klinker.giphy.GiphyActivity"
            android:theme="@style/PulseTheme.NoActionBar"
            tools:replace="android:theme" />
        <activity
            android:name=".activity.notification.MarshmallowReplyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/api_Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />

        <!-- Widget -->
        <receiver android:name=".shared.widget.MessengerAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service
            android:name=".shared.widget.MessengerWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <!-- Samsung Multi-window Support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/multiwindow_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/multiwindow_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/multiwindow_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/multiwindow_minimumsize_h" />

    </application>

</manifest>
